.side-panel {
    width: 48px;
    height: 100%;
    /* background-color: white; */
    position: fixed;
    top: 80px;
    /* Adjust according to header height */
    left: 0;
    bottom: 0;
    overflow-y: auto;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
    /* background-color: #333; */
    /* color: #fff; */
    padding: 20px;
}

/* Optional: Add additional styling for the content inside the side panel */
.side-panel-content {
    padding: 20px;
}